<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes App NodeJS and Mongodb
    </h1>
    <p class="lead">Lorem ipsum dolor sit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <a href="http://www.andreycv.epizy.com" class="btn btn-primary">My website!</a>
</div>